<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- font-icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!-- highlight js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>

        <!--css file -->
        <link rel="stylesheet" href="card.css">
        <title>Cards</title>
</head>

<body>
    <div class="doc-container">
        <div class="nav-bar">
            <div class="logo">
                <a href="../../index.html">
                    <h3>CM</h3>
                    <h4>Creative Mess</h4>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li class="lists"><a href="../../documentPage/intro.html">Docs</a></li>
                    <li class="lists"><a href="http://github.com/codewithrishu"><i class="fab fa-github fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="doc-listing">
            <ul class="listing">
                <h3 class="list-heading">Get Started</h3>
                <li class="doc-list"><a href="../../documentPage/intro.html">Introduction</a></li>
                <li class="doc-list"><a href="../text-utilities/text.html">Text-utilities</a></li>
                <h3 class="list-heading">Components</h3>
                <li class="doc-list"><a href="../avatar/avatar.html">Avatar</a></li>
                <li class="doc-list"><a href="../alert/alert.html">Alert</a></li>
                <li class="doc-list"><a href="../badge/badge.html">Badge</a></li>
                <li class="doc-list"><a href="../button/button.html">Button</a></li>
                <li class="doc-list"><a href="../card/card.html">Card</a></li>
                <li class="doc-list"><a href="../grids/grid.html">Grids</a></li>
                <li class="doc-list"><a href="../image/image.html">Image</a></li>
                <li class="doc-list"><a href="../input/input.html">Input</a></li>
                <li class="doc-list"><a href="../list/list.html">List</a></li>
                <li class="doc-list"><a href="../navigation/navigation.html">Navigation</a></li>
    
            </ul>
        </div>
        <div class="components">
            <div class="container">
                <div class="text-only-card">
                    <h3>Text Only Card</h3>
                    <p>This card contains only title and descripton. To use this card add 'card' class followed by
                        'card-title' and 'card-text' class
                    </p>
                    <div class="outer-box">
                        <div class="card">
                            <div class="card-title">
                                Heading
                            </div>
                            <div class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur porro eveniet quasi reiciendis
                                tempore, ab
                                dolores at earum
                            </div>
                        </div>
                    </div>
            
                </div>
            
                <div class="card-with-badge">
                    <h3>Card with Badge</h3>
                    <p>card containes a badge over it to gain users attention</p>
                    <div class="outer-box">
                        <div class="card badge-card">
                            <div class="card-badge">
                                New Arrivale
                            </div>
                            <div class="card-image">
                                <img class="image" src="images/mont-marte-woodless-charcoal-pencils-signature-3pce-mpn0045.jpg"
                                    alt="card-image">
                            </div>
                            <div class="card-title">
                                Heading
                            </div>
                            <div class="card-text">
                                This is product
                            </div>
                            <div class="price">
                                <div class="discounted-price">
                                    Rs.250
                                </div>
                                <div class="actual-price">
                                    <s>Rs.300</s>
                                </div>
                                <div class="discount">
                                    (10%)
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="add-cart-button">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                         &lt;div class="card badge-card"&gt;
                                                &lt;div class="card-badge"&gt;
                                                    New Arrivale
                                                &lt;/div&gt;
                                                &lt;div class="card-image"&gt;
                                                    &lt;img class="image" src="image/link" alt=""&gt;
                                                &lt;/div&gt;
                                                &lt;div class="card-title"&gt;
                                                    Heading
                                                &lt;/div&gt;
                                                &lt;div class="card-text"&gt;
                                                    This is product
                                                &lt;/div&gt;
                                                &lt;div class="price"&gt;
                                                    &lt;div class="discounted-price"&gt;
                                                        Rs.250
                                                    &lt;/div&gt;
                                                    &lt;div class="actual-price"&gt;
                                                        &lt;s&gt;Rs.300&lt;/s&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class="discount"&gt;
                                                        (10%)
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class="card-footer"&gt;
                                                    &lt;button class="add-cart-button">Add To Cart&lt;/button&gt;          
                                                &lt;/div&gt;
                                         &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            
            
                <div class="card-with-Dismiss">
                    <h3>Dismiss Card</h3>
                    <p>Card contains a dismiss icon over it</p>
                    <div class="outer-box">
                        <div class="card">
                            <div class="dismiss-icon">
                                <span class="material-icons">
                                    close
                                </span>
                            </div>
                            <div class="card-image">
                                <img class="image" src="images/mont-marte-woodless-charcoal-pencils-signature-3pce-mpn0045.jpg"
                                    alt="card-image">
                            </div>
                            <div class="card-title">
                                Heading
                            </div>
                            <div class="card-text">
                                This is product
                            </div>
                            <div class="price">
                                <div class="discounted-price">
                                    Rs.250
                                </div>
                                <div class="actual-price">
                                    <s>Rs.300</s>
                                </div>
                                <div class="discount">
                                    (10%)
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="add-cart-button">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                                    <code class="language-html"> 
                                            &lt;div class="card"&gt;
                                                &lt;div class="dismiss-icon"&gt;
                                                    &lt;span class="material-icons"&gt;
                                                        close
                                                    &lt;/span&gt;
                                                &lt;/div&gt;
                                                &lt;div class="card-image"&gt;
                                                    &lt;img class="image" src="image/link" alt=""&gt;
                                                &lt;/div&gt;
                                                &lt;div class="card-title"&gt;
                                                    Heading
                                                &lt;/div&gt;
                                                &lt;div class="card-text"&gt;
                                                    This is product
                                                &lt;/div&gt;
                                                &lt;div class="price"&gt;
                                                    &lt;div class="discounted-price"&gt;
                                                        Rs.250
                                                    &lt;/div&gt;
                                                    &lt;div class="actual-price"&gt;
                                                        &lt;s&gt;Rs.300&lt;/s&gt;
                                                    &lt;/div&gt;
                                                    &lt;div class="discount"&gt;
                                                        (10%)
                                                    &lt;/div&gt;
                                                &lt;/div&gt;
                                                &lt;div class="card-footer"&gt;
                                                    &lt;button class="add-cart-button">Add To Cart&lt;/button&gt;          
                                                &lt;/div&gt;
                                         &lt;/div&gt;
                                    </code>
                             </pre>
                    </div>
                </div>
            
            
                <div class="card-with-TextOverlay">
                    <h3>Text Overlay Card</h3>
                    <p>Card contains a text overlay which gives it a very spooky effect</p>
                    <div class="outer-box">
                        <div class="card">
                            <div class="card-image">
                                <img class="image"
                                    src="images/Acrylic-Product-Paint-Colors-Acrylique-Art-Supplies-High-Quality-Popular-Acrylic-Paint-with-Different-Package-Acrylic-Paint.jpg"
                                    alt="card-image">
                                <div class="overlay-body">
                                    <div class="card-title">
                                        Heading
                                    </div>
                                    <div class="card-text">
                                        This is product
                                    </div>
                                </div>
                            </div>
                            <div class="price">
                                <div class="discounted-price">
                                    Rs.250
                                </div>
                                <div class="actual-price">
                                    <s>Rs.300</s>
                                </div>
                                <div class="discount">
                                    (10%)
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="add-cart-button">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                    &lt;div class="card"&gt;
                                        &lt;div class="card-image"&gt;
                                            &lt;img class="image"
                                                src="images/link"
                                                alt=""&gt;
                                            &lt;div class="overlay-body"&gt;
                                                &lt;div class="card-title"&gt;
                                                    Heading
                                                &lt;/div&gt;
                                                &lt;div class="card-text"&gt;
                                                    This is product
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="price"&gt;
                                            &lt;div class="discounted-price"&gt;
                                                Rs.250
                                            &lt;/div&gt;
                                            &lt;div class="actual-price"&gt;
                                                &lt;s&gt;Rs.300&lt;/s&gt;
                                            &lt;/div&gt;
                                            &lt;div class="discount"&gt;
                                                (10%)
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="card-footer"&gt;
                                            &lt;button class="add-cart-button"&gt;Add To Cart&lt;/button&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            
                <div class="horizontal-card">
                    <h3>Horizontal Card</h3>
                    <p>Simple alert can be created by adding alert class, followed by color varient</p>
                    <div class="outer-box">
                        <div class="card">
                            <div class="left-part">
                                <div class="card-image">
                                    <img class="image"
                                        src="images/Acrylic-Product-Paint-Colors-Acrylique-Art-Supplies-High-Quality-Popular-Acrylic-Paint-with-Different-Package-Acrylic-Paint.jpg"
                                        alt="card-image">
                                </div>
                            </div>
                            <div class="right-part">
                                <div class="card-title">
                                    Heading
                                </div>
                                <div class="card-text">
                                    This is product
                                </div>
                                <div class="price">
                                    <div class="discounted-price">
                                        Rs.250
                                    </div>
                                    <div class="actual-price">
                                        <s>Rs.300</s>
                                    </div>
                                    <div class="discount">
                                        (10%)
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="add-cart-button">Add To Cart</button>
                                    <button class="add-cart-button">Add To Wishlist</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                    &lt;div class="card"&gt;
                                        &lt;div class="left-part"&gt;
                                            &lt;div class="card-image"&gt;
                                                &lt;img class="image"
                                                    src="images/link"
                                                    alt=""&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                        &lt;div class="right-part"&gt;
                                            &lt;div class="card-title"&gt;
                                                Heading
                                            &lt;/div&gt;
                                            &lt;div class="card-text"&gt;
                                                This is product
                                            &lt;/div&gt;
                                            &lt;div class="price"&gt;
                                                &lt;div class="discounted-price"&gt;
                                                    Rs.250
                                                &lt;/div&gt;
                                                &lt;div class="actual-price"&gt;
                                                    &lt;s&gt;Rs.300&lt;/s&gt;
                                                &lt;/div&gt;
                                                &lt;div class="discount"&gt;
                                                    (10%)
                                                &lt;/div&gt;
                                            &lt;/div&gt;
                                            &lt;div class="card-footer"&gt;
                                                &lt;button class="add-cart-button">Add To Cart&lt;/button&gt;
                                                &lt;button class="add-cart-button">Add To Wishlist&lt;/button&gt;
                                            &lt;/div&gt;
                                        &lt;/div&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            </div>
            <footer class="nav-footer">
                <div class="previous">
                    <span><a href="../button/button.html"> &lt; Button</a></span>
                </div>
                <div class="next">
                    <span><a href="../grids/grid.html">Grids &gt;</a></span>
                </div>
            </footer>
        </div>
      
</body>
</html>