<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    
    <!-- highlight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <!--css filw -->
    <link rel="stylesheet" href="input.css">
    <title>Inputs</title>
</head>
<body>
    
</body>
        <div class="doc-container">
            <div class="nav-bar">
                <div class="logo">
                    <a href="../../index.html">
                        <h3>CM</h3>
                        <h4>Creative Mess</h4>
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="lists"><a href="../../documentPage/intro.html">Docs</a></li>
                        <li class="lists"><a href="http://github.com/codewithrishu"><i class="fab fa-github fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-listing">
                <ul class="listing">
                    <h3 class="list-heading">Get Started</h3>
                    <li class="doc-list"><a href="../../documentPage/intro.html">Introduction</a></li>
                    <li class="doc-list"><a href="../text-utilities/text.html">Text-utilities</a></li>
                    <h3 class="list-heading">Components</h3>
                    <li class="doc-list"><a href="../avatar/avatar.html">Avatar</a></li>
                    <li class="doc-list"><a href="../alert/alert.html">Alert</a></li>
                    <li class="doc-list"><a href="../badge/badge.html">Badge</a></li>
                    <li class="doc-list"><a href="../button/button.html">Button</a></li>
                    <li class="doc-list"><a href="../card/card.html">Card</a></li>
                    <li class="doc-list"><a href="../grids/grid.html">Grids</a></li>
                    <li class="doc-list"><a href="../image/image.html">Image</a></li>
                    <li class="doc-list"><a href="../input/input.html">Input</a></li>
                    <li class="doc-list"><a href="../list/list.html">List</a></li>
                     <li class="doc-list"><a href="../modal/modal.html">Modal</a></li>
                    <li class="doc-list"><a href="../navigation/navigation.html">Navigation</a></li>
                     <li class="doc-list"><a href="../rating/rating.html">Rating</a></li>
                     <li class="doc-list"><a href="../toast/toast.html">Toast</a></li>
        
                </ul>
            </div>
            <div class="components">
                <div class="container">
                    <div class="label-input-container">
                        <h3>Label Input</h3>
                        <p>you can add square images by adding 'square-image' class</p>
                        <div class="outer-box">
                            <div class="inputs success">
                                <label>Username</label>
                                <input type="text">
                            </div>
                            <div class="inputs error">
                                <label>Password</label>
                                <input type="password">
                                <div class="error-msg">
                                    Wrong Password
                                </div>
                            </div>
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                        &lt;div class="inputs success"&gt&gt;
                                            &lt;label&gt;Username&lt;/label&gt&gt;           
                                            &lt;input type="text"&gt;
                                        &lt;/div&gt;
                
                                        &lt;div class="inputs error"&gt;
                                            &lt;label&gt;Password&lt;/label&gt;
                                            &lt;input type="password"&gt;
                                        &lt;/div&gt;
                
                                        &lt;div class="error-msg"&gt;
                                            Wrong Password
                                        &lt;/div&gt;
                                        
                                    </code>
                                </pre>
                        </div>
                    </div>
                
                
                    <div class="radio-container">
                        <h3>Radio</h3>
                        <p>Radio buttons allow the user to select one option from a set.</p>
                        <div class="outer-box">
                            <div class="radio">
                                <label for="radio1">
                                    <input type="radio" id="radio1" name="radio" checked>
                                    Checked
                                </label>
                            </div>
                            <div class="radio">
                                <label for="radio2">
                                    <input type="radio" id="radio2" name="radio">
                                    Unchecked
                                </label>
                            </div>
                            <div class="radio disabled">
                                <label for="radio3">
                                    <input type="radio" id="radio3" name="radio" disabled>
                                    Disabled
                                </label>
                            </div>
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                        &lt;div class="radio"&gt;
                                            &lt;label for="radio1"&gt;
                                                &lt;input type="radio" id="radio1" name="radio" checked>
                                                Checked
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                
                                        &lt;div class="radio"&gt;
                                            &lt;label for="radio2"&gt;
                                                &lt;input type="radio" id="radio2" name="radio"&gt;
                                                Unchecked
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                                        
                                        &lt;div class="radio disabled"&gt;
                                            &lt;label for="radio3"&gt;
                                                &lt;input type="radio" id="radio3" name="radio" disabled&gt;
                                                Disabled
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                                    </code>
                                </pre>
                        </div>
                    </div>
                
                    <div class="checkbox-container">
                        <h3>Checkbox</h3>
                        <p>Checkboxes are used when there are lists of options and the user may select any number of choices</p>
                        <div class="outer-box">
                            <div class="checkbox">
                                <label for="checkbox1">
                                    <input type="checkbox" id="checkbox1" name="checkbox" checked>
                                    Checked
                                </label>
                            </div>
                            <div class="radio">
                                <label for="checkbox1">
                                    <input type="checkbox" id="checkbox1" name="checkbox">
                                    Unchecked
                                </label>
                            </div>
                            <div class="radio disabled">
                                <label for="checkbox1">
                                    <input type="checkbox" id="checkbox1" name="checkbox" disabled>
                                    Disabled
                                </label>
                            </div>
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                        &lt;div class="checkbox"&gt;
                                            &lt;label for="checkbox1"&gt;
                                                &lt;input type="checkbox" id="checkbox1" name="checkbox" checked>
                                                Checked
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                                        
                                        &lt;div class="checkbox"&gt;
                                            &lt;label for="checkbox2"&gt;
                                                &lt;input type="checkbox" id="checkbox2" name="checkbox"&gt;
                                                Unchecked
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                                        
                                        &lt;div class="checkbox disabled"&gt;
                                            &lt;label for="checkbox3"&gt;
                                                &lt;input type="checkbox" id="checkbox3" name="checkbox" disabled&gt;
                                                Disabled
                                            &lt;/label&gt;
                                        &lt;/div&gt;
                                    </code>
                                </pre>
                        </div>
                    </div>
                </div>
                <footer class="nav-footer">
                    <div class="previous">
                        <span><a href="../image/image.html"> &lt; Image</a></span>
                    </div>
                    <div class="next">
                        <span><a href="../list/list.html">List &gt;</a></span>
                    </div>
                </footer>
            </div>
    
</body>
</html>