<!DOCTYPE html>
<lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <!-- font-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- highlight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <!--css filw -->
    <link rel="stylesheet" href="input.css">
    <title>Inputs</title>
</head>
<body>
    
</body>
    <div class="container">
        <div class="label-input-container">
            <h3>Label Input</h3>
            <p>you can add square images by adding 'square-image' class</p>
            <div class="outer-box">
                <div class="inputs success">
                    <label>Username</label>
                    <input type="text">
                </div>
                <div class="inputs error">
                    <label>Password</label>
                    <input type="password">
                    <div class="error-msg">
                        Wrong Password
                    </div>
                </div>
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html"> 
                        &lt;div class="inputs success"&gt&gt;
                            &lt;label&gt;Username&lt;/label&gt&gt;           
                            &lt;input type="text"&gt;
                        &lt;/div&gt;

                        &lt;div class="inputs error"&gt;
                            &lt;label&gt;Password&lt;/label&gt;
                            &lt;input type="password"&gt;
                        &lt;/div&gt;

                        &lt;div class="error-msg"&gt;
                            Wrong Password
                        &lt;/div&gt;
                        
                    </code>
                </pre>
            </div>
        </div>


        <div class="radio-container">
            <h3>Radio</h3>
            <p>Radio buttons allow the user to select one option from a set.</p>
            <div class="outer-box">
                <div class="radio">
                    <label for="radio1">
                        <input type="radio" id="radio1" name="radio" checked>
                        Checked
                    </label>
                </div>
                <div class="radio">
                    <label for="radio2">
                        <input type="radio" id="radio2" name="radio">
                        Unchecked
                    </label>
                </div>
                <div class="radio disabled">
                    <label for="radio3">
                        <input type="radio" id="radio3" name="radio" disabled>
                        Disabled
                    </label>
                </div>
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html"> 
                        &lt;div class="radio"&gt;
                            &lt;label for="radio1"&gt;
                                &lt;input type="radio" id="radio1" name="radio" checked>
                                Checked
                            &lt;/label&gt;
                        &lt;/div&gt;

                        &lt;div class="radio"&gt;
                            &lt;label for="radio2"&gt;
                                &lt;input type="radio" id="radio2" name="radio"&gt;
                                Unchecked
                            &lt;/label&gt;
                        &lt;/div&gt;
                        
                        &lt;div class="radio disabled"&gt;
                            &lt;label for="radio3"&gt;
                                &lt;input type="radio" id="radio3" name="radio" disabled&gt;
                                Disabled
                            &lt;/label&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>
        </div>

        <div class="checkbox-container">
            <h3>Checkbox</h3>
            <p>Checkboxes are used when there are lists of options and the user may select any number of choices</p>
            <div class="outer-box">
                <div class="checkbox">
                    <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" name="checkbox" checked>
                        Checked
                    </label>
                </div>
                <div class="radio">
                    <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" name="checkbox">
                        Unchecked
                    </label>
                </div>
                <div class="radio disabled">
                    <label for="checkbox1">
                        <input type="checkbox" id="checkbox1" name="checkbox" disabled>
                        Disabled
                    </label>
                </div>
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html"> 
                        &lt;div class="checkbox"&gt;
                            &lt;label for="checkbox1"&gt;
                                &lt;input type="checkbox" id="checkbox1" name="checkbox" checked>
                                Checked
                            &lt;/label&gt;
                        &lt;/div&gt;
                        
                        &lt;div class="checkbox"&gt;
                            &lt;label for="checkbox2"&gt;
                                &lt;input type="checkbox" id="checkbox2" name="checkbox"&gt;
                                Unchecked
                            &lt;/label&gt;
                        &lt;/div&gt;
                        
                        &lt;div class="checkbox disabled"&gt;
                            &lt;label for="checkbox3"&gt;
                                &lt;input type="checkbox" id="checkbox3" name="checkbox" disabled&gt;
                                Disabled
                            &lt;/label&gt;
                        &lt;/div&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>
</body>
</html>