@import url(../landingpage/landingpage.css);

.doc-container{
    display: grid;
    padding: 0 10rem;
    grid-template-areas: 
    "nav nav nav nav nav"
    "listing component component component ..";
}

.nav-bar{
    grid-area: nav;
}

.doc-listing{
    grid-area: listing;
    padding: 0 2rem; 
    width: 17rem;
}
.components{ 
    grid-area: component;
    height: 100vh;
    
    padding: 1rem;  
}

.list-heading{
    font-size: 1.4rem;
    font-weight: bold;
    border-bottom: 1px solid grey;
    padding: 14px 0;
    margin: 5px 0;
    color: var(--primaryColor);
}

.doc-list{
    list-style-type: none;
    padding: 10px 0;
    font-size: 1.3rem;
}

.doc-list a{
    text-decoration: none;
    color: var(--secondoryColor);
}

.doc-list a:hover{
    color: var(--dark);
}

@media only screen and (max-width:700px){

    .doc-container{
        grid-template-areas: 
       "nav "
        "component ";
         padding: 10px;

    }

    .doc-listing{
        display: none;
    }

    .components h3{
        font-size: 2.5rem;
    }

    .components p{
        font-size: 2rem;
    }

    .headings h3{
        font-size: 1.3em;
    }
}


