    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- font-icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        
        <!-- highlight js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        
        <!--css filw -->
        <link rel="stylesheet" href="button.css">
        <title>Buttons</title>
    
    </head>
    <body>
        <div class="doc-container">
            <div class="nav-bar">
                <div class="logo">
                    <a href="index.html">
                        <h3>CM</h3>
                        <h4>Creative Mess</h4>
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="lists"><a href="../../documentPage/intro.html">Docs</a></li>
                        <li class="lists"><a href="http://github.com/codewithrishu"><i class="fab fa-github fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-listing">
                <ul class="listing">
                    <h3 class="list-heading">Get Started</h3>
                    <li class="doc-list"><a href="../../documentPage/intro.html">Introduction</a></li>
                    <li class="doc-list"><a href="../text-utilities/text.html">Text-utilities</a></li>
                    <h3 class="list-heading">Components</h3>
                    <li class="doc-list"><a href="../avatar/avatar.html">Avatar</a></li>
                    <li class="doc-list"><a href="../alert/alert.html">Alert</a></li>
                    <li class="doc-list"><a href="../badge/badge.html">Badge</a></li>
                    <li class="doc-list"><a href="../button/button.html">Button</a></li>
                    <li class="doc-list"><a href="../card/card.html">Card</a></li>
                    <li class="doc-list"><a href="../grids/grid.html">Grids</a></li>
                    <li class="doc-list"><a href="../image/image.html">Image</a></li>
                    <li class="doc-list"><a href="../input/input.html">Input</a></li>
                    <li class="doc-list"><a href="../list/list.html">List</a></li>
                    <li class="doc-list"><a href="../navigation/navigation.html">Navigation</a></li>
        
                </ul>
            </div>
            <div class="components">
                <div class="container">
                    <div class="Primary-buttons">
                        <h3>Primary Buttons</h3>
                        <p>Primary button can be created by adding button class followed by color varient</p>
                        <div class="outer-box">
                
                            <button class="button primary">PRIMARY</button>
                            <button class="button error">ERROR</button>
                            <button class="button success">SUCCESS</button>
                            <button class="button warning">WARNING</button>
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                    &lt;button class="button primary"&gt;PRIMARY&lt;/button&gt;
                
                                    &lt;button class="button error"&gt;ERROR&lt;/button&gt;
                
                                    &lt;button class="button success"&gt;SUCCESS&lt;/button&gt;
                
                                    &lt;button class="button warning"&gt;WARNING&lt;/button&gt;
                                    </code>
                                    </pre>
                        </div>
                    </div>
                    <div class="outline-buttons">
                        <h3>Outline Buttons</h3>
                        <p>Outline button can be created by adding outline-button class followed by outline-color varient</p>
                        <div class="outer-box">
                
                            <button class="outline-button outline-primary">PRIMARY</button>
                            <button class="outline-button outline-error">ERROR</button>
                            <button class="outline-button outline-success">SUCCESS</button>
                            <button class="outline-button outline-warning">WARNING</button>
                
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                    &lt;button class="outline-button outline-primary"&gt;PRIMARY&lt;/button&gt;    
                
                                    &lt;button class="outline-button outline-error"&gt;ERROR&lt;/button&gt;
                
                                    &lt;button class="outline-button outline-success"&gt;SUCCESS&lt;/button&gt;
                                    
                                    &lt;button class="outline-button outline-warning"&gt;WARNING&lt;/button&gt;
                                    </code>
                                    </pre>
                        </div>
                    </div>
                
                
                    <div class="link-buttons">
                        <h3>Link Buttons</h3>
                        <p>Link button can be created by adding button class followed by button-link class</p>
                        <div class="outer-box">
                
                            <button class="button button-link primary">
                                <a href="">LINK</a>
                            </button>
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                    &lt;button class="button button-link primary"&gt;
                                        &lt;a href=""&gt;LINK&lt;/a&gt;
                                    &lt;/button&gt;
                                    </code>
                                    </pre>
                        </div>
                    </div>
                
                    <div class="icon-buttons">
                        <h3>Icons Buttons</h3>
                        <p>Icon button can be created by adding button class followed by btn-icon class</p>
                        <div class="outer-box">
                
                            <button class="button btn-icon primary">
                                <span class="material-icons">
                                    save
                                </span>
                                SAVE
                            </button>
                            <button class="button btn-icon primary">
                                <span class="material-icons">
                                    favorite
                                </span>
                                LIKE
                            </button>
                            <button class="button btn-icon primary">
                                <span class="material-icons">
                                    lock
                                </span>
                                LOGIN
                            </button>
                            <button class="button btn-icon primary">
                                <span class="material-icons">
                                    search
                                </span>
                                SEARCH
                            </button>
                
                        </div>
                        <div class="code-box">
                            <pre>
                                        <code class="language-html"> 
                                    &lt;button class="button btn-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            save
                                        &lt;/span&gt;
                                        SAVE
                                    &lt;/button&gt;
                
                                    &lt;button class="button btn-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            favorite
                                        &lt;/span&gt;
                                        LIKE
                                    &lt;/button&gt;
                
                                    &lt;button class="button btn-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            lock
                                        &lt;/span&gt;
                                        LOGIN
                                    &lt;/button&gt;
                                    
                                    &lt;button class="button btn-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            search
                                        &lt;/span&gt;
                                        SEARCH
                                    &lt;/button&gt;
                                    </code>
                                        </pre>
                        </div>
                    </div>
                
                    <div class="floating-buttons">
                        <h3>Floating Buttons</h3>
                        <p>Floting button can be created by adding button class followed by float-icon class</p>
                        <div class="outer-box">
                
                            <button class="button float-icon primary">
                                <span class="material-icons">
                                    save
                                </span>
                            </button>
                            <button class="button float-icon primary">
                                <span class="material-icons">
                                    favorite
                                </span>
                            </button>
                            <button class="button float-icon primary">
                                <span class="material-icons">
                                    lock
                                </span>
                            </button>
                            <button class="button float-icon primary">
                                <span class="material-icons">
                                    search
                                </span>
                            </button>
                
                        </div>
                        <div class="code-box">
                            <pre>
                                    <code class="language-html"> 
                                    &lt;div class="badge"&gt;
                                        &lt;img class="avatar" src="https://picsum.photos/200/300" alt=""&gt;   
                                        &lt;div class="online"&gt;&lt;/div&gt;
                                    &lt;/div&gt;
                
                                    &lt;button class="button float-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            save
                                        &lt;/span&gt;
                                    &lt;/button&gt;
                                    &lt;button class="button float-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            favorite
                                        &lt;/span&gt;
                                    &lt;/button&gt;
                                    &lt;button class="button float-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            lock
                                        &lt;/span&gt;
                                    &lt;/button&gt;
                                    &lt;button class="button float-icon primary"&gt;
                                        &lt;span class="material-icons"&gt;
                                            search
                                        &lt;/span&gt;
                                    &lt;/button&gt;
                                    </code>
                                    </pre>
                        </div>
                    </div>
                </div>
                <footer class="nav-footer">
                    <div class="previous">
                        <span><a href="../badge/badge.html"> &lt; Badge</a></span>
                    </div>
                    <div class="next">
                        <span><a href="../card/card.html">Card &gt;</a></span>
                    </div>
                </footer>
            </div>
       
        
    </body>
    </html>