@import url(../shared.css);
@import url(../alert/alert.css);


.outer-box{
    flex-direction: row;
}

.button, .outline-button{
    padding: 9px 12px;
    border-radius: 5px;
    filter: brightness(.9);
}

.button{
    border: none;
    color: var(--white);
}

.button-link a{
    text-decoration: none;
    color: var(--white);
}

.btn-icon{
    gap: 5px;
}

.btn-icon, .float-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.float-icon{
    padding: 10px;
    border-radius: 50%;
    box-shadow: 5px 8px 6px -6px black;}

.button:hover{
     filter: brightness(1);
     cursor: pointer;
}

.outline-primary:hover{
    background-color: var(--primary-alert-color);
    color: var(--white);   
}
.outline-error:hover{
    background-color: var(--error-alert-color);
    color: var(--white); 
}
.outline-success:hover{
    background-color: var(--success-alert-color);
    color: var(--white); 
}
.outline-warning:hover{
    background-color: var(--warning-alert-color);
    color: var(--white); 
}
.material-icons{ 
    font-size: 20px; 
}