<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">


    <!-- highlight js -->
    <link rel="stylesheet" href="../../highlight/styles/a11y-dark.min.css">
    <script src="../../highlight/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <!--css filw -->
    <link rel="stylesheet" href="avatar.css">
    <title>Avatar</title>

   
</head>
<body>
    <div class="container">
            <div class="heading">
                    <h3>Avatars</h3>
                    <p>Avatars are images that users can set as their profile picture.they're rounded and square shaped.</p>
            </div>
       
        
        <div class="profile-avatars">
            <h3>Profile Avatar</h3>
            <p>Add the 'avatar' class to img tag to simply create profile avatar </p>
            <div class="outer-box">
                <img class="avatar" src="https://picsum.photos/200/300" alt="">
                <img class="avatar" src="https://picsum.photos/200/300" alt="">
                <img class="avatar" src="https://picsum.photos/200/300" alt="">
               
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html">
            &lt;img class="avatar" src="https://url-of-image" alt=""&gt; </code>
                </pre>
            </div>
        </div>
  
        <div class="size-avatars">
            <h3>Size Avatar</h3>
            <p> There are 4 additional sizes available, xs | sm | lg | xl</p>
            <div class="outer-box">
                <img class="avatar xs" src="https://picsum.photos/200/300" alt="">
                <img class="avatar sm"  src="https://picsum.photos/200/300" alt="">
                <img class="avatar lg" src="https://picsum.photos/200/300" alt="">
                <img class="avatar xl" src="https://picsum.photos/200/300" alt="">
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html">
            &lt;img class="avatar xs" src="https://url-of-image" alt=""&gt;
            &lt;img class="avatar sm" src="https://url-of-image" alt=""&gt; 
            &lt;img class="avatar lg" src="https://url-of-image" alt=""&gt; 
            &lt;img class="avatar xl" src="https://url-of-image" alt=""&gt; </code>
                </pre>
            </div>
        </div>
    
        <div class="square-avatars">
            <h3>Square Avatar</h3>
            <p>Add the 'avatar' class to img tag to simply create square avatar</p>
           
            <div class="outer-box">
                <img class="square avatar xs" src="https://picsum.photos/200/300" alt="">
                <img class="square avatar sm" src="https://picsum.photos/200/300" alt="">
                <img class="square avatar lg" src="https://picsum.photos/200/300" alt="">
                <img class="square avatar xl" src="https://picsum.photos/200/300" alt="">
            </div>
            <div class="code-box">
                <pre>
                    <code class="language-html">
              &lt;img class="square avatar xs" src="https://url-of-image" alt=""&gt;
              &lt;img class="square avatar sm" src="https://url-of-image" alt=""&gt; 
              &lt;img class="square avatar lg" src="https://url-of-image" alt=""&gt; 
              &lt;img class="square avatar xl" src="https://url-of-image" alt=""&gt; </code>
                </pre>
            </div>
        </div>
    </div>
</body>
</html>