<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- highlight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <!--css filw -->
    <link rel="stylesheet" href="list.css">
    <title>Lists</title>
</head>

<body>
    <div class="doc-container">
        <div class="nav-bar">
            <div class="logo">
                <a href="../../index.html">
                    <h3>CM</h3>
                    <h4>Creative Mess</h4>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li class="lists"><a href="../../documentPage/intro.html">Docs</a></li>
                    <li class="lists"><a href="http://github.com/codewithrishu"><i class="fab fa-github fa-lg"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="doc-listing">
            <ul class="listing">
                <h3 class="list-heading">Get Started</h3>
                <li class="doc-list"><a href="../../documentPage/intro.html">Introduction</a></li>
                <li class="doc-list"><a href="../text-utilities/text.html">Text-utilities</a></li>
                <h3 class="list-heading">Components</h3>
                <li class="doc-list"><a href="../alert/alert.html">Alert</a></li>
                <li class="doc-list"><a href="../avatar/avatar.html">Avatar</a></li>
                <li class="doc-list"><a href="../badge/badge.html">Badge</a></li>
                <li class="doc-list"><a href="../button/button.html">Button</a></li>
                <li class="doc-list"><a href="../card/card.html">Card</a></li>
                <li class="doc-list"><a href="../grids/grid.html">Grids</a></li>
                <li class="doc-list"><a href="../image/image.html">Image</a></li>
                <li class="doc-list"><a href="../input/input.html">Input</a></li>
                <li class="doc-list"><a href="../list/list.html">List</a></li>
                <li class="doc-list"><a href="../navigation/navigation.html">Navigation</a></li>
    
            </ul>
        </div>
        <div class="components">
            <div class="container">
                <div class="Simple-list-container">
                    <h3>Simple List</h3>
                    <p>Ordered List | UnOrdered List</p>
                    <div class="outer-box">
                        <div class="simple-list">
                            <div class="ordered-list">
                                <ol>
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ol>
                            </div>
                            <div class="unordered-list">
                                <ul>
                                    <li>Item</li>
                                    <li>Item</li>
                                    <li>Item</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                    &lt;div class="ordered-list"&gt;           
                                        &lt;ol&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                        &lt;/ol&gt;
                                    &lt;/div&gt;
                                    &lt;div class="unordered-list"&gt;
                                        &lt;ul&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                            &lt;li&gt;Item&lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            
                <div class="spaced-list-container">
                    <h3>Spaced List</h3>
                    <p>you can add square images by adding 'spaced-list' class followed by 'list-title' class</p>
                    <div class="outer-box">
                        <div class="spaced-list">
                            <div class="list-title">
                                Food Items
                            </div>
                            <li>Apple</li>
                            <li>Orange</li>
                            <li>Kiwi</li>
                            <li>Banana</li>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                    &lt;div class="spaced-list"&gt;              
                                        &lt;div class="list-title"&gt;
                                            Food Items
                                        &lt;/div&gt;
                                        &lt;li&gt;Apple&lt;/li&gt;
                                        &lt;li&gt;Orange&lt;/li&gt;
                                        &lt;li&gt;Kiwi&lt;/li&gt;
                                        &lt;li&gt;Banana&lt;/li&gt;
                                    &lt;/div&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            
            
                <div class="stacked-list-container">
                    <h3>Stacked List</h3>
                    <p>Stacked lists are mostly used to display notifications</p>
                    <div class="outer-box">
                        <div class="stacked-list-box">
                            <li class="stacked-list">
                                <div class="list-icon">
                                    <span class="material-icons">
                                        card_giftcard
                                    </span>
                                </div>
                                <div class="list-detail">
                                    <p>The Mega wow cherrs sale is will make you..</p>
                                    <small>Arriving tomorrow! Check teaser</small>
                                </div>
                                <div class="list-time">
                                    <span class="material-icons">
                                        more_vert
                                    </span>
                                </div>
                            </li>
                            <li class="stacked-list">
                                <div class="list-icon">
                                    <span class="material-icons">
                                        card_giftcard
                                    </span>
                                </div>
                                <div class="list-detail">
                                    <p>The Mega wow cherrs sale is will make you..</p>
                                    <small>Arriving tomorrow! Check teaser</small>
                                </div>
                                <div class="list-time">
                                    <span class="material-icons">
                                        more_vert
                                    </span>
                                </div>
            
                            </li>
                            <li class="stacked-list">
                                <div class="list-icon">
                                    <span class="material-icons">
                                        card_giftcard
                                    </span>
                                </div>
                                <div class="list-detail">
                                    <p>The Mega wow cherrs sale is will make you..</p>
                                    <small>Arriving tomorrow! Check teaser</small>
                                </div>
                                <div class="list-time">
                                    <span class="material-icons">
                                        more_vert
                                    </span>
                                </div>
            
                            </li>
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                                <code class="language-html"> 
                                        &lt;li class="stacked-list"&gt;
                                            &lt;div class="list-icon"&gt;
                                                &lt;span class="material-icons"&gt;
                                                card_giftcard
                                                &lt;/span&gt;
                                            &lt;/div&gt;
                                            &lt;div class="list-detail"&gt;
                                                &lt;p&gt;The Mega wow cherrs sale is will make you.. &lt;/p&gt;          
                                                &lt;small&gt;Arriving tomorrow! Check teaser &lt;/small&gt;
                                            &lt;/div&gt;
                                            &lt;div class="list-time"&gt;
                                                &lt;span class="material-icons"&gt;
                                                more_vert
                                                &lt;/span&gt;
                                            &lt;/div&gt;
                                        &lt;/li&gt;
                                </code>
                            </pre>
                    </div>
                </div>
            </div>
            <footer class="nav-footer">
                <div class="previous">
                    <span><a href="../input/input.html"> &lt; Input</a></span>
                </div>
                <div class="next">
                    <span><a href="../navigation/navigation.html">Navigation &gt;</a></span>
                </div>
            </footer>
        </div>
    


    
</body>
</html>