@import url(../shared.css);

:root{
    --light-blue:rgb(91, 140, 180);
    --white:#fff;
}

.simple-navigation, .icon-navigation{
    width: 100%;
}

.comp-mynav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 2px;
}

.comp-mynav-menu a, .comp-mynav-logo a{
    text-decoration: none;
    color: var(--white)
}

.comp-mynav-menu {
     margin-left: auto;
  
}
.comp-mynav-menu ul{
    margin: 8px;
}

.comp-mynav-menu li{
    list-style-type: none;
    display: inline-block;
    padding: 0 5px;
}
