<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    
    <!-- highlight js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>
    
    <!-- font-icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!--css filw -->
    <link rel="stylesheet" href="navigation.css">
    <title>Navigation</title>
    </head>
    
    <body>
        <div class="container">
    
            <div class="Simple-navigation-container">
                <h3>Simple Navigation</h3>
                <p> navigation bar is a user interface element within a webpage that contains links to other sections of the website</p>
                <div class="outer-box">
                    <div class="simple-navigation">
                        <nav class="myNav">
                            <div class="logo">
                             <a href="">My Logo</a> 
                            </div>
                            <div class="nav-menu">
                                <ul>
                                    <li><a href="">Home</a></li>
                                    <li><a href="">Products</a></li>
                                    <li><a href="">Cart</a></li>
                                    <li><a href="">Wishlist</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="code-box">
                    <pre>
                        <code class="language-html">                                            
                            &lt;nav class="myNav"&gt;
                                &lt;div class="logo"&gt;
                                    &lt;a href=""&gt;My Logo&lt;/a&gt;
                                &lt;/div&gt;
                                &lt;div class="nav-menu"&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;&lt;a href=""&gt;Home&lt;/a&gt;&lt;/li&gt;
                                        &lt;li&gt;&lt;a href=""&gt;Products&lt;/a&gt;&lt;/li&gt;
                                        &lt;li&gt;&lt;a href=""&gt;Cart&lt;/a&gt;&lt;/li&gt;
                                        &lt;li&gt;&lt;a href=""&gt;Wishlist&lt;/a&gt;&lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/nav&gt;
                        </code>
                    </pre>
                </div>
            </div>


            <div class="icon-navigation-container">
                <h3>Icon  Navigation</h3>
                <p>It contains icons for navigation</p>
                <div class="outer-box">
                    <div class="icon-navigation">
                        <nav class="myNav">
                            <div class="logo">
                                <a href="">My Logo</a>
                            </div>
                            <div class="nav-menu">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span class="material-icons">
                                                home
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="material-icons">
                                                category
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="material-icons">
                                                settings
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span class="material-icons">
                                                shopping_cart
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="code-box">
                    <pre>
                        <code class="language-html">                                          
                            &lt;nav class="myNav"&gt;
                                &lt;div class="logo"&gt;
                                    &lt;a href=""&gt;My Logo&lt;/a&gt;
                                &lt;/div&gt;
                                &lt;div class="nav-menu"&gt;
                                    &lt;ul&gt;
                                        &lt;li&gt;
                                            &lt;a href=""&gt;
                                                &lt;span class="material-icons"&gt;                           
                                                    home
                                                &lt;/span&gt;
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href=""&gt;
                                                &lt;span class="material-icons"&gt;
                                                    category
                                                &lt;/span&gt;
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href=""&gt;
                                                &lt;span class="material-icons"&gt;
                                                    settings
                                                &lt;/span&gt;
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                        &lt;li&gt;
                                            &lt;a href=""&gt;
                                                &lt;span class="material-icons"&gt;
                                                    shopping_cart
                                                &lt;/span&gt;
                                            &lt;/a&gt;
                                        &lt;/li&gt;
                                    &lt;/ul&gt;
                                &lt;/div&gt;
                            &lt;/nav&gt;
                        </code>
                    </pre>
                </div>
            </div>
    
</body>
</html>