@import url(../shared.css);
@import url(../avatar/avatar.css);

:root{
--online:green;
--offline:grey;
--dnd:red

}

.badge{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.online, .offline, .dnd{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position:absolute;
    border: 1.5px solid #fff;
    bottom: 0;
    right: 0;
}

.online{
    background-color: var(--online);
}

.offline{
    background-color: var(--offline);
}

.dnd{
    background-color: var(--dnd);
}

.number{
    width: 10px;
    height: 10px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgb(0, 140, 255);
    color: #fff;
    position:absolute;
    text-align: center;
    top: 0;
    right: 0;
    font-size: 8px;
}