    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
               
        <!-- font-icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        
        <!-- highlight js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        
        <!--css filw -->
        <link rel="stylesheet" href="alert.css">
        <title>Alerts</title>


    </head>
    <body>
        <div class="doc-container">
            <div class="nav-bar">
                <div class="logo">
                    <a href="../../index.html">
                        <h3>CM</h3>
                        <h4>Creative Mess</h4>
                    </a>
                </div>
                <div class="menu">
                    <ul>
                        <li class="lists"><a href="../../documentPage/intro.html">Docs</a></li>
                        <li class="lists"><a href="http://github.com/codewithrishu"><i class="fab fa-github fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="doc-listing">
                <ul class="listing">
                    <h3 class="list-heading">Get Started</h3>
                    <li class="doc-list"><a href="../../documentPage/intro.html">Introduction</a></li>
                    <li class="doc-list"><a href="../text-utilities/text.html">Text-utilities</a></li>
                    <h3 class="list-heading">Components</h3>
                    <li class="doc-list"><a href="../alert/alert.html">Alert</a></li>
                    <li class="doc-list"><a href="../avatar/avatar.html">Avatar</a></li>
                    <li class="doc-list"><a href="../badge/badge.html">Badge</a></li>
                    <li class="doc-list"><a href="../button/button.html">Button</a></li>
                    <li class="doc-list"><a href="../card/card.html">Card</a></li>
                    <li class="doc-list"><a href="../grids/grid.html">Grids</a></li>
                    <li class="doc-list"><a href="../image/image.html">Image</a></li>
                    <li class="doc-list"><a href="../input/input.html">Input</a></li>
                    <li class="doc-list"><a href="../list/list.html">List</a></li>
                     <li class="doc-list"><a href="../modal/modal.html">Modal</a></li>
                    <li class="doc-list"><a href="../navigation/navigation.html">Navigation</a></li>
                    <li class="doc-list"><a href="../rating/rating.html">Rating</a></li>
                    <li class="doc-list"><a href="../toast/toast.html">Toast</a></li>
                </ul>
            </div>
            <div class="components">
                <div class="container">
                    <div class="simple-alert">
                        <h3>Simple Alert</h3>
                        <p>Simple alert can be created by adding alert class, followed by color varient</p>
                        <div class="outer-box">
                            <div class="alert primary">
                                This is Primary alert!
                            </div>
                            <div class="alert error">
                                This is Error alert!
                            </div>
                            <div class="alert success">
                                This is Success alert!
                            </div>
                            <div class="alert warning">
                                This is Warning alert!
                            </div>
                        </div>
                        <div class="code-box">
                            <pre>
                                            <code class="language-html"> 
                                            &lt;div class="alert primary"&gt;             
                                                This is Primary alert!
                                            &lt;/div&gt;
                
                                            &lt;div class="alert error"&gt;
                                                This is Error alert!
                                            &lt;/div&gt;
                
                                            &lt;div class="alert success"&gt;
                                                This is Success alert!
                                            &lt;/div&gt;
                
                                            &lt;div class="alert warning"&gt;
                                                This is Warning alert!
                                            &lt;/div&gt;
                                            </code>
                                            </pre>
                        </div>
                    </div>
                
                    <div class="outline-alert">
                        <h3>Outline Alert</h3>
                        <p>Outline alert can be created by adding alert class, followed by outine varient</p>
                        <div class="outer-box">
                            <div class="alert outline-primary">
                                This is Primary alert!
                            </div>
                            <div class="alert outline-error">
                                This is Error alert!
                            </div>
                            <div class="alert outline-success">
                                This is Success alert!
                            </div>
                            <div class="alert outline-warning">
                                This is Warning alert!
                            </div>
                        </div>
                        <div class="code-box">
                            <pre>
                                            <code class="language-html"> 
                                            &lt;div class="alert outline-primary"&gt;
                                                This is Primary alert!
                                            &lt;/div&gt;
                                            &lt;div class="alert outline-error"&gt;
                                                This is Error alert!
                                            &lt;/div&gt;
                                            &lt;div class="alert outline-success"&gt;
                                                This is Success alert!
                                            &lt;/div&gt;
                                            &lt;div class="alert outline-warning"&gt;
                                                This is Warning alert!
                                            &lt;/div&gt;
                                            </code>
                                            </pre>
                        </div>
                    </div>
                </div>
                <footer class="nav-footer">
                    <div class="previous">
                        <span><a href="../text-utilities/text.html"> &lt; Text Utilities</a></span>
                    </div>
                    <div class="next">
                        <span><a href="../avatar/avatar.html">Avatar &gt;</a></span>
                    </div>
                </footer>
            </div>

           
            
        </div>
    </body>
    </html>