    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- font family -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        
        <!-- font-icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- highlight js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/a11y-dark.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script>
        
        <!--css filw -->
        <link rel="stylesheet" href="alert.css">
        <title>Alerts</title>


    </head>
    <body>
            <div class="container">
                <div class="simple-alert">
                    <h3>Simple Alert</h3>
                    <p>Simple alert can be created by adding alert class, followed by color varient</p>
                    <div class="outer-box">
                        <div class="alert primary">
                            This is Primary alert!
                        </div>
                        <div class="alert error">
                            This is Error alert!
                        </div>
                        <div class="alert success">
                            This is Success alert!
                        </div>
                        <div class="alert warning">
                            This is Warning alert!
                        </div>
                    </div>
                    <div class="code-box">
                        <pre>
                            <code class="language-html"> 
                            &lt;div class="alert primary"&gt;             
                                This is Primary alert!
                            &lt;/div&gt;

                            &lt;div class="alert error"&gt;
                                This is Error alert!
                            &lt;/div&gt;

                            &lt;div class="alert success"&gt;
                                This is Success alert!
                            &lt;/div&gt;

                            &lt;div class="alert warning"&gt;
                                This is Warning alert!
                            &lt;/div&gt;
                            </code>
                            </pre>
                    </div>
                </div>

                <div class="outline-alert">
                <h3>Outline Alert</h3>
                <p>Outline alert can be created by adding alert class, followed by outine varient</p>
                <div class="outer-box">
                    <div class="alert outline-primary">
                        This is Primary alert!
                    </div>
                    <div class="alert outline-error">
                        This is Error alert!
                    </div>
                    <div class="alert outline-success">
                        This is Success alert!
                    </div>
                    <div class="alert outline-warning">
                        This is Warning alert!
                    </div>
                </div>
                <div class="code-box">
                    <pre>
                            <code class="language-html"> 
                            &lt;div class="alert outline-primary"&gt;
                                This is Primary alert!
                            &lt;/div&gt;
                            &lt;div class="alert outline-error"&gt;
                                This is Error alert!
                            &lt;/div&gt;
                            &lt;div class="alert outline-success"&gt;
                                This is Success alert!
                            &lt;/div&gt;
                            &lt;div class="alert outline-warning"&gt;
                                This is Warning alert!
                            &lt;/div&gt;
                            </code>
                            </pre>
                </div>
                </div>
            </div>
    </body>
    </html>