    @import url(../shared.css);

    :root{
        --primary-alert-color:#4091d7;
        --error-alert-color: #ED4F32;
        --success-alert-color:#2d884d;
        --warning-alert-color:#fecf6d;
        --white:#fff;
    }

    .outer-box{
        flex-direction: column;
        gap: 10px;
    }

    .alert{
        width: 100%;
        padding:10px 10px ;
        border-radius: 5px;
        color:var(--white);
        font-weight: bolder;
    }

    .primary{
        background-color: var(--primary-alert-color)
    }

    .error{
    background-color: var(--error-alert-color)
    }
    .success{
    background-color: var(--warning-alert-color)
    }

    .warning{
    background-color: var(--success-alert-color)
    }

    .outline-primary, .outline-error, .outline-success, .outline-warning{
        background-color: var(--white);
    }
    .outline-primary{
        border: 1px solid var(--primary-alert-color);
        color: var(--primary-alert-color);
    }

    .outline-error{
    border: 1px solid var(--error-alert-color);
    color: var(--error-alert-color);
    }
    .outline-success{
    
    border: 1px solid var(--success-alert-color);
    color: var(--success-alert-color)
    }

    .outline-warning{
    border: 1px solid var(--warning-alert-color);
    color: var(--warning-alert-color);
    }
